<div fxLayout="column" fxLayoutAlign="center stretch" fxFlexFill
 style = 'background: linear-gradient(to right, #aa4b6b, #6b6b83, #3b8d99);'>

  <div fxLayout="row" fxLayoutAlign="center center">
    <span class = 'heading'>
      <h2 style="letter-spacing: 5px;"> Slated Ai </h2>
    </span>
  </div>

  <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap = "20px">
    <div>
      <button mat-raised-button color="accent" [routerLink] = "'/genderPredection'">Gender Selection</button>
    </div>

    <div>
      <button mat-raised-button color="accent" [routerLink] = "'/dates'">Dates</button>
    </div>

    <div>
      <button mat-raised-button color="accent" [routerLink] = "'/bonus'">Bonus</button>
    </div>
  </div>

</div>
